/* Login Form*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #376d5f;
}
html {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
  background-color: #f7ede2;
}

img {
  width: 200px;
  length: 200px;
  padding: 1rem;
}

.login-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.login-form {
  /* width: 350px; */
  margin: 0 auto;
  padding: 2rem;
}

.form-input {
  background: #fafafa;
  border: 1px solid #eeeeee;
  padding: 12px;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

/* Search Box*/

.search-container {
  display: inline-flex;
  /*flex: 1 1 300px;*/
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* .searchIcon {
  padding: 0.5rem;
} */

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.searchButton {
  background: #538ac5;
  border: 0;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0;
  /* text-transform: uppercase; */
}

/* NavBar */

nav {
  width: 100%;
  height: 70px;
  background-color: rgb(97, 199, 205);
  padding-left: 30px;
  padding-right: 10px;
  background-color: #f6bd60;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  padding-right: 0;
  border-radius: 1rem;
}

/*Link*/
#link {
  text-decoration: "none";
}

a {
  text-decoration: none;
}

button {
  background-color: #f28482;
  color: white;
  border-radius: 1rem;
  min-width: 7rem;
  width: fit-content;
  border: black;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.5rem;
}
button:hover {
  transition: 1s;
  background-color: #422ca8;
  color: white;
  border-radius: 1rem;
  border: black;
  cursor: pointer;
}

input {
  border-radius: 1rem;
  border: none;
  width: 10rem;
  height: 2rem;
}

textarea {
  border-radius: 1rem;
  border: none;
  width: 10rem;
  height: 2rem;
}

div {
  padding: 1rem;
}
h1 {
  padding: 1rem;
}
p {
  padding: 1rem;
}
#singleProductImageView {
  height: auto;
  width: auto;
}
.rightNavbar {
  display: flex;
  flex-flow: row wrap;
}
#reviewsTop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#signupOptions {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

ol li {
  list-style: none;
}

#incCart {
  min-width: 3rem;
  width: 1rem;
  font-weight: 700;
}
#decCart {
  min-width: 3rem;
  width: 1rem;
  font-weight: 700;
}

#all-products {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}

.singleProduct {
  align-content: center;
  list-style: none;
  flex: 0 0 33.333333%;
}

#singleCategoryView {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}

.singleProductCategoryView {
  align-content: center;
  list-style: none;
  flex: 0 0 33.333333%;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: #f6bd60;
}

::-webkit-scrollbar-thumb {
  background: #376d5f;
  border-radius: 25px;
}
/*
****************************
*/

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
