/* Login Form*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}
html {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
  background-color: #f7ede2;
}

img {
  width: 100px;
  length: 100px;
}

.login-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.login-form {
  width: 350px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 2rem;
  background: #ffffff;
}

.form-input {
  background: #fafafa;
  border: 1px solid #eeeeee;
  padding: 12px;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-button {
  background: #69d2e7;
  border: 1px solid #ddd;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}

.form-button:hover {
  background: #69c8e7;
}

/* Search Box*/

.search-container {
  display: inline-flex;
  /*flex: 1 1 300px;*/
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* .searchIcon {
  padding: 0.5rem;
} */

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.searchButton {
  background: #538ac5;
  border: 0;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0;
  /* text-transform: uppercase; */
}

/* NavBar */

nav {
  width: 100%;
  height: 70px;
  background-color: rgb(97, 199, 205);
  padding-left: 30px;
  padding-right: 10px;
  background-color: #f6bd60;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  padding-right: 0;
  border-radius: 1rem;
}

/*Link*/
#link {
  text-decoration: 'none';
}

a {
  text-decoration: none;
  color: #376d5f;
}

button {
  background-color: #f28482;
  color: white;
  border-radius: 1rem;
  width: 7rem;
  height: 2rem;
  border: black;
}
button:hover {
  transition: 1s;
  background-color: #422ca8;
  color: white;
  border-radius: 1rem;
  width: 7rem;
  border: black;
  cursor: pointer;
}

input {
  border-radius: 1rem;
  border: none;
  width: 10rem;
  height: 2rem;
}

div {
  padding: 1rem;
}
/* images*/

/* settings*/
/* .settings-container {
  /* display: flex; */
/* } */

/* .settings-container-left {
  display: flex;
  width: 30%;
  background: honeydew;
  flex-direction: column;
}
.settings-container-right {
  display: flex;
  margin-left: 30%;
  background: ivory;
  justify-content: space-between;
  align-items: center;
}  */
